backoff==2.2.1
datasets
einops==0.6.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
ninja==1.11.1
openai==0.28.1
optimum==1.13.2
pandas==1.5.3
peft==0.5.0
protobuf==4.24.3
pydantic==1.10.7
python-dotenv==1.0.0
pyyaml==6.0.1
seaborn
sentence_transformers
sentencepiece==0.1.99
scipy==1.10.1
spacy
torch==2.0.1
transformers
trl==0.7.1