bitsandbytes==0.41.1
datasets==2.14.5
einops==0.6.1
flash==attn-2.2.3.post2
matplotlib==3.7.1
matplotlib-inline==0.1.6
ninja==1.11.1
pandas==1.5.3
peft==0.5.0
protobuf==4.24.3
pydantic==1.10.7
pyyaml==6.0.1
sentencepiece==0.1.99
scipy==1.10.1
torch==2.0.1
transformers==4.33.1
trl==0.7.1